.poke-hand {
  display: flex;
  margin: 32px auto;
  width: 664px;
  justify-content: space-between;
  box-shadow: 0 0 9px rgb(222, 222,222);
  padding: 16px;
  &.winner {
    border: 5px solid green;
  }
}

.poke-card {
  text-align: center;
  width: 23%;
  &.fire {
    box-shadow: 0 0 9px #e63900;
  }
  &.water {
    box-shadow: 0 0 9px #8bc5cd;
  }
  &.electric {
    box-shadow: 0 0 9px #f6e652;
  }
  &.ghost {
    box-shadow: 0 0 9px #9473b4;
  }
  &.bug {
    box-shadow: 0 0 9px #b4e652;
  }
  &.normal {
    box-shadow: 0 0 9px #000000;
  }
  &.flying {
    box-shadow: 0 0 9px #de3131;
  }
}
